###Python Pandas
* An open souce python library providing high-performance data manipulation and 
analysis tool using its powerful data structures.
* Developed by Wes McKinney in 2008.
* Used in wide range of fields including academic and commercial domains including finance, economics, statistics, analytics etc.

### Use the following pip command to install pandas
 > **pip install pandas**


---

####Details
* Deals with three types of data structures.
1. > Series(One dimensional array like structure with homogenous data)
2. > DataFrame(Two dimensional array with homogenous data)
3. > Panels(Three dimensional data structure with heterogenous data)

####***a***. Series
Syntax: pandas.Series( data, index, dtype, copy)

In [1]:
#Creating an Empty Series
import pandas as pd
s = pd.Series()
print (s)

Series([], dtype: float64)

C:\Users\Dell\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [2]:
#Creating a Series from ndarray
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print (s)

0    a
1    b
2    c
3    d
dtype: object

In [3]:
#Creating a Series from ndarray providing the index
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print (s)

#If any value is missing then index order is persisted and the missing element is filled with NaN(Not a Number), See the reading for better insight.

100    a
101    b
102    c
103    d
dtype: object

####**b**. Dataframe
The topic we will keep our focus.

**1. Creating an empty dataframe**

In [4]:
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

**2. Create a DataFrame from lists**

In [5]:
import pandas as pd
#list of list to get familiar with multiple columns 
data = [['Jon', 6],['Sansa', 7],['Arya', 9]]
df = pd.DataFrame(data)
print (df)

       0  1
0    Jon  6
1  Sansa  7
2   Arya  9

In [6]:
import pandas as pd
data = [['Jon', 6],['Sansa', 7],['Arya', 9]]
#Adding parameters to the constructors to understand the data
df = pd.DataFrame(data,columns=['Name','Rating'], index = ['rank3', 'rank2', 'rank1'], dtype=float)
print (df)

        Name  Rating
rank3    Jon     6.0
rank2  Sansa     7.0
rank1   Arya     9.0

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

**3. Column Operations**
* Selection
* Addition
* Deletion

In [7]:
# import pandas as pd
#Here we are using previous cells dataframe and performing the operations
print ("Adding a new column using the existing columns in DataFrame:")
df['Gender'] = pd.Series(['Male', 'Female', 'Female'], index = ['rank3', 'rank2', 'rank1'])
print(df)

Adding a new column using the existing columns in DataFrame:
        Name  Rating  Gender
rank3    Jon     6.0    Male
rank2  Sansa     7.0  Female
rank1   Arya     9.0  Female

In [8]:
print ("Deleting the second column using DEL function:")
del df['Rating']
print(df)

Deleting the second column using DEL function:
        Name  Gender
rank3    Jon    Male
rank2  Sansa  Female
rank1   Arya  Female

In [9]:
print ("Deleting another column using POP function:")
df.pop('Gender')
print (df)

Deleting another column using POP function:
        Name
rank3    Jon
rank2  Sansa
rank1   Arya

**3. Row Operations**
* Selection
* Addition
* Deletion

In [10]:
import pandas as pd
data = [['Ross', 'Paleontologist'],['Racheal', 'Waitress'],['Chandler', 'Banker'],['Monica', 'Chef'], ['Joey', 'Actor' ], ['Phoebe', 'Massuse' ]]
df = pd.DataFrame(data,columns=['Name','Occupation'], index = ['a', 'b','c', 'd', 'e', 'f'])
print (df)

       Name      Occupation
a      Ross  Paleontologist
b   Racheal        Waitress
c  Chandler          Banker
d    Monica            Chef
e      Joey           Actor
f    Phoebe         Massuse

In [11]:
#Selection by integer
df.iloc[1]

Name           Racheal
Occupation    Waitress
Name: b, dtype: object

In [12]:
#Selection by index
df.loc['f']

Name           Phoebe
Occupation    Massuse
Name: f, dtype: object

In [13]:
#slicing rows
print(df[2:4])

       Name Occupation
c  Chandler     Banker
d    Monica       Chef

In [14]:
#print is not compulsory to display the data simply the name works 
df[2:4]

       Name Occupation
c  Chandler     Banker
d    Monica       Chef

In [15]:
#Addition of rows
df2 = pd.DataFrame([['Gunther', 'Waiter'],], columns = ['Name','Occupation'], index = ['g'])
df = df.append(df2)
df

       Name      Occupation
a      Ross  Paleontologist
b   Racheal        Waitress
c  Chandler          Banker
d    Monica            Chef
e      Joey           Actor
f    Phoebe         Massuse
g   Gunther          Waiter

#### Reading a csv files and excel files in the form of dataframe using panda

A comma-separated values file is a delimited text file that uses a comma to separate values. Each line of the file is a data record. Each record consists of one or more fields, separated by commas. The use of the comma as a field separator is the source of the name for this file format. A CSV file typically stores tabular data in plain text, in which case each line will have the same number of fields. The CSV file format is not fully standardized.

In [16]:
import pandas as pd
df = pd.read_csv('wine-quality(red).csv', sep = ';')
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13,40,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15,59,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15,21,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9,18,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17,102,0.9978,3.35,0.80,10.5,5

In [17]:
#Gives the top 5 values
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

In [26]:
#gives the bottom 5 values
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,quality,density
5,7.4,0.66,0.00,1.8,0.075,13,40,0.56,9.4,5,NaN
6,7.9,0.60,0.06,1.6,0.069,15,59,0.46,9.4,5,NaN
7,7.3,0.65,0.00,1.2,0.065,15,21,0.47,10.0,7,NaN
8,7.8,0.58,0.02,2.0,0.073,9,18,0.57,9.5,7,NaN
9,7.5,0.50,0.36,6.1,0.071,17,102,0.80,10.5,5,NaN

In [27]:
#More about dataframe
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,quality,density
count,10.000000,10.000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,3.000000
mean,7.950000,0.631,0.104000,2.330000,0.077000,14.800000,48.900000,0.589000,9.700000,5.500000,3.300000
std,1.162612,0.161,0.194548,1.376025,0.010198,4.467164,25.066356,0.100161,0.359011,0.849837,0.264575
min,7.300000,0.280,0.000000,1.200000,0.065000,9.000000,18.000000,0.460000,9.400000,5.000000,3.100000
25%,7.400000,0.585,0.000000,1.825000,0.071500,11.500000,34.000000,0.560000,9.400000,5.000000,3.150000
50%,7.650000,0.655,0.010000,1.900000,0.075000,15.000000,47.000000,0.565000,9.650000,5.000000,3.200000
75%,7.800000,0.700,0.055000,2.225000,0.076000,16.500000,59.750000,0.632500,9.800000,5.750000,3.400000
max,11.200000,0.880,0.560000,6.100000,0.098000,25.000000,102.000000,0.800000,10.500000,7.000000,3.600000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         10 non-null     float64
 1   volatile acidity      10 non-null     float64
 2   citric acid           10 non-null     float64
 3   residual sugar        10 non-null     float64
 4   chlorides             10 non-null     float64
 5   free sulfur dioxide   10 non-null     int64
 6   total sulfur dioxide  10 non-null     int64
 7   sulphates             10 non-null     float64
 8   alcohol               10 non-null     float64
 9   quality               10 non-null     int64
 10  density               3 non-null      float64
dtypes: float64(8), int64(3)
memory usage: 1008.0 bytes

In [18]:
df[['fixed acidity', 'volatile acidity']]

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88
2            7.8              0.76
3           11.2              0.28
4            7.4              0.70
5            7.4              0.66
6            7.9              0.60
7            7.3              0.65
8            7.8              0.58
9            7.5              0.50

In [19]:
df.loc[1:3, 'fixed acidity':'residual sugar' ]

   fixed acidity  volatile acidity  citric acid  residual sugar
1            7.8              0.88         0.00             2.6
2            7.8              0.76         0.04             2.3
3           11.2              0.28         0.56             1.9

In [20]:
df.iloc[0:3, 0:3]

   fixed acidity  volatile acidity  citric acid
0            7.4              0.70         0.00
1            7.8              0.88         0.00
2            7.8              0.76         0.04

In [21]:
df['fixed acidity']

0     7.4
1     7.8
2     7.8
3    11.2
4     7.4
5     7.4
6     7.9
7     7.3
8     7.8
9     7.5
Name: fixed acidity, dtype: float64

In [22]:
#Removing coloumns using drop 
df.drop(['density', 'pH'], axis = 1, inplace = True)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11,34,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25,67,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11,34,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13,40,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15,59,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15,21,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9,18,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17,102,0.80,10.5,5

In [23]:
 #Add coloumn to dataframe in Pandas(based on other column or list or default value)
 df['density'] =pd.Series({ 1 : 3.2, 3 : 3.1, 4 : 3.6}, index = [0,1,2,3,4,5])
 df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,quality,density
0,7.4,0.70,0.00,1.9,0.076,11,34,0.56,9.4,5,NaN
1,7.8,0.88,0.00,2.6,0.098,25,67,0.68,9.8,5,3.2
2,7.8,0.76,0.04,2.3,0.092,15,54,0.65,9.8,5,NaN
3,11.2,0.28,0.56,1.9,0.075,17,60,0.58,9.8,6,3.1
4,7.4,0.70,0.00,1.9,0.076,11,34,0.56,9.4,5,3.6
5,7.4,0.66,0.00,1.8,0.075,13,40,0.56,9.4,5,NaN
6,7.9,0.60,0.06,1.6,0.069,15,59,0.46,9.4,5,NaN
7,7.3,0.65,0.00,1.2,0.065,15,21,0.47,10.0,7,NaN
8,7.8,0.58,0.02,2.0,0.073,9,18,0.57,9.5,7,NaN
9,7.5,0.50,0.36,6.1,0.071,17,102,0.80,10.5,5,NaN

In [24]:
#Drop all the coloumn with NaN Value
df.dropna()
#Drop rows with NAN value
# df.dropna(axis = 'rows')
#Drop coloumns with NAN value
# df.dropna(axis = 'columns', inplace = True)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,quality,density
1,7.8,0.88,0.00,2.6,0.098,25,67,0.68,9.8,5,3.2
3,11.2,0.28,0.56,1.9,0.075,17,60,0.58,9.8,6,3.1
4,7.4,0.70,0.00,1.9,0.076,11,34,0.56,9.4,5,3.6

In [25]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,quality,density
0,7.4,0.70,0.00,1.9,0.076,11,34,0.56,9.4,5,NaN
1,7.8,0.88,0.00,2.6,0.098,25,67,0.68,9.8,5,3.2
2,7.8,0.76,0.04,2.3,0.092,15,54,0.65,9.8,5,NaN
3,11.2,0.28,0.56,1.9,0.075,17,60,0.58,9.8,6,3.1
4,7.4,0.70,0.00,1.9,0.076,11,34,0.56,9.4,5,3.6
5,7.4,0.66,0.00,1.8,0.075,13,40,0.56,9.4,5,NaN
6,7.9,0.60,0.06,1.6,0.069,15,59,0.46,9.4,5,NaN
7,7.3,0.65,0.00,1.2,0.065,15,21,0.47,10.0,7,NaN
8,7.8,0.58,0.02,2.0,0.073,9,18,0.57,9.5,7,NaN
9,7.5,0.50,0.36,6.1,0.071,17,102,0.80,10.5,5,NaN